---

---
<div id="app-header" class="col-12 d-flex justify-content-between flex-row text-center pt-2 pb-1">
    <div class="col-1 pointer ps-2 text-start">
        <svg xmlns="http://www.w3.org/2000/svg" height="36" viewBox="0 0 24 24"><path fill="currentColor" d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"/></svg>
    </div>
    <div class="col-10 fs-4 fw-semibold">
        Bienvenido
    </div>
    <div class="col-1">
        
    </div>
</div>
<style>
#app-header{
    top: 0;
    box-shadow: 0 0 15px -5px black;
    position: fixed;
    z-index: 999;
    background-color: var(--dark-color);
    /* height: 50px; */
}
</style>